<div class="page-header">
  <h3>Treatment #<%= @treatment.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Cancer</dt>
      <dd><%= @treatment.cancer_id %></dd>

      <dt>Treatment name</dt>
      <dd><%= @treatment.treatment_name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/treatments" class="btn btn-primary">
        Back
      </a>
      <a href="/treatments/<%= @treatment.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_treatment/<%= @treatment.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
