<div class="page-header">
  <h3>Cancer #<%= @cancer.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Cancer name</dt>
      <dd><%= @cancer.cancer_name %></dd>

      <dt>User</dt>
      <dd><%= @cancer.user_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/cancers" class="btn btn-primary">
        Back
      </a>
      <a href="/cancers/<%= @cancer.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_cancer/<%= @cancer.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Cancer has many treatments -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Treatments
      </li>

      <% @cancer.treatments.each do |treatment| %>
        <li class="list-group-item">
          <a href="/treatments/<%= treatment.id %>">
            <%= treatment.cancer_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/treatments/<%= treatment.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/treatments/<%= treatment.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_treatment/<%= treatment.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
